/* Stil für die Navbar */
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            background-color: #689ff8;
          
        }

        .navbar a {
            color: rgb(245, 240, 240);
            text-decoration: none;
            padding: 10px;
        }

        .navbar a:hover {
            background-color: #ddd;
            color: black;
        }
    .box1{
        justify-content: space-between;
        background-color: #699ff8;
       
        
    }
    
    