/* Stil für die Navbar */
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: DeepSkyBlue;
	        background-image: url("https://wiki.selfhtml.org/images/c/c8/Wolke.png");
	        background-repeat: repeat;
	        background-position: 90% top;
	        color: midnightblue;
	        height: 100vh;
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #173f81;
    
        }

        .navbar a {
            color: rgb(245, 240, 240);
            text-decoration: none;
            padding: 10px;
        }

        .navbar a:hover {
            background-color: #ddd;
            color: rgb(245, 87, 87);
        }
        .box{
        justify-content: flex-start;
        align-items: center;
        background-color: #173f81;
        
        }
       
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
        }
        
        .profile img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        
        .profile h2 {
            margin-left: 10px;
        }
        
        .buttons {
            display: flex;
        }
        
        /* Weiteren CSS-Code für die Buttons hier hinzufügen */
        
    